.navbar {
    display: flex;
    /* flex-direction: center; */
    justify-content: around !important;
    align-items: center;
    background-color: rgba(33, 33, 33, 0.7);

    height: 4rem;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.navbar li {
    padding: 1.5rem;
}
